/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
  =============== 
  Global Styles
  ===============
  */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

  /* section{
      margin-top: 4rem;
  } */

  .section-title{
    text-align: center;
    padding: 2rem;
}

.btn-blue{
    background-color: #0a158d;
    color: var(--clr-white);
}

/* nav - header */

.navbar.backround-dark {
    background-color: black;
}

/* main-banner - header */

.main-banner{
    height: 100vh;
    background-image: url(./images/hero-6.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title{
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: var(--clr-white);
}

.banner-text{
    font-size: 2.5rem;
    color: var(--clr-white);
}

@media screen and (max-width: 780px) {
    .navbar{
        background-color: black;
    }  
}

@media screen and (max-width: 500px){

    .main-banner{
        background-size: cover;
        background-position: 50% 70px;
    }

    .banner-title{
        font-size: 3rem;
        margin-top: -7rem;
        margin-bottom: 4rem;
        letter-spacing: 1.5px;
    }
    
    .banner-text{
        font-size: 2rem;
        margin-top: 0rem;
        line-height: 1.25;
    }
} 

/* about */

.about{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.about-img{
    width: 100%;
    /* height: 100%; */
    box-shadow: var(--dark-shadow);
}

.about-content{
    padding: 0.5rem;
    columns: var(--clr-grey-1);
}

.resume-btn{
    background-color: #0a158d;
    color: var(--clr-white);
}

/* skills */

.skills{
    background-image: linear-gradient(45deg, #0a158d, #0c0a32);
    color: var(--clr-white);
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.skill{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.skill-container{
    height: 10vh;
}

.skill-container.image{
    text-align: center;
}

.skill-container img{
    height: 100%;
}

.skill-container.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* projects */

.projects{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

/* contact */

.contact{
    background-image: linear-gradient(45deg, #0a158d, #0c0a32);
    color: var(--clr-white);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact .icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.social.icon{
    justify-content: center;
}

.contact i{
    color: var(--clr-white);
}